- semantic_form_for :use_case, :html => { :method => :post, :id => "use_case_form", :class => 'validate' } do |f|
  - f.inputs do
    = f.input :name
    = f.input :description, :as => :text, :input_html => {:class => "html"}, :required => false
    = f.input :status_id, :as => :select, :collection => current_user.account.statuses, :selected => current_user.account.statuses.find_by_name("Draft"), :include_blank => false, :required => false
    - if @project.components
      = f.input :component_id, :as => :select, :collection => @project.components, :required => false
    Linked high level requirements
    %fieldset.nested

