#populate_me_container.nested_item_container
  %input(id = "populate_me_name")
  %a(href = "#" id = "populate_me_delete" class = "delete_nested_item")= image_tag("/images/cross.png", :border => 0, :alt => "Remove")
