- semantic_form_for :stage, :html => { :method => :post, :id => "stage_form", :class => 'validate' } do |f|
  - f.inputs do
    = f.input :name
    = f.input :description, :as => :text, :input_html => {:class => "html"}, :required => false
